#welcome-header{
    margin: 20px auto;
    text-align: center;
}

.navbar-header img{
    margin:5px 10px 5px 0;
    max-width: 40px;
    max-height:40px;
    float: left;
}

.radio label{
    margin-right: 10px;
}

.form-horizontal .form-group label{
    text-align: left;
}

ul.navbar-nav>li>a>span{
    margin-right: 3px;
}

.section-header{
    padding-left: 50px;
}

.upload-picture p{
    text-align: center;
}

.upload-picture img{
    margin: 0 auto;
    display: inherit;
}

.upload-picture input{
    margin: 0 auto;
}

.upload-cover p{
    line-height: 36px;
}

.modal {
    display: block;
}

.modal img {
    width: 75px;
}

.modal-dialog{
    width:300px;
    margin-left: 25%;
}

.modal-body span{
    font-size: 18px;
}

.modal-footer p{
    text-align: center;
    margin:0;
}

.modal-content>.modal-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}

.friends-sidebar{
    padding: 10px 25px;
}

.friends-sidebar>p{
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.friends-sidebar img{
    width: 100%;
    max-height: 90px;
}

.friends-sidebar>div>div>a>p{
    font-size: 18px;
    text-align: center;
    color: black;
}

.friends-sidebar>div>div {
    height:150px;
}

.friends img{
    width: 100px;
    max-height: 100px;
}

.friends p{
    line-height: 70px;
    color: black;
    font-size: 20px;
    text-align: right;
    padding-right: 30px;
}

.friends p{
    line-height: 70px;
    color: black;
    font-size: 20px;
    text-align: right;
    padding-right: 30px;
}

.friends .well a:hover p{
    text-decoration: underline;
}

.friend-filter p{
    height: 34px;
    line-height: 34px;
    padding-right:0;
}

.dropdown-menu{
    display: inline-block;
    padding-bottom: 0;
}

.dropdown-menu li{
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
}

.dropdown-menu img{
    width: 35%;
    max-height: 58px;
    padding-left: 0;
}

.dropdown > .dropdown-menu > li > a {
    padding-left: 10px;
}

.dropdown > .dropdown-menu > li > a > p {
    font-size: 14px;
    line-height: 58px;
}

.dropdown-menu > li > p {
    line-height: 35px;
    text-align: center;
    margin: 0;
}

.wall-header{
    margin-top: -20px;
    margin-bottom: 40px;
    height:250px;
    position: relative;
}

.wall-header .cover-img{
    width:100%;
    height:200px;
    overflow: hidden;
    object-fit: cover;
}

.wall-header .wall-user-info{
    width: 600px;
    position: absolute;
    left: 150px;
    top: 45px;
}

.wall-header .wall-user-info .profile-img{
    width: 200px;
    height: 200px;
    float:left;
    overflow: hidden;
    object-fit: cover;
}

.wall-header .wall-user-info div{
    width:350px;
    float:left;
    margin-left: 45px;
    padding-top: 20px;
}

.wall-header .wall-user-info h3{
    color:white;
    font-size: 32px;
}

.wall-header .wall-user-info button{
    font-size: 20px;
}

.send-message textarea{
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

.send-message img{
    width: 40px;
    height: 40px;
    float:left;
}

.send-message p{
    float:left;
    line-height: 40px;
    margin-left: 10px;
}

.send-message button{
    margin-top:3px;
    float:right;
}

.news-feed>.panel-default{
    display: inline-block;
    width: 100%;
}

.news-feed>.panel>.panel-heading{
    height: 70px;
    position: relative;
}

.news-feed>.panel>.panel-heading img{
    width:50px;
    height:50px;
    margin-right:20px;
    margin-bottom:10px;
}

.news-feed>.panel>.panel-heading h4{
    margin-bottom: 0;
}

.news-feed .panel .panel-heading h4 a{
    text-decoration: none;
    color:black;
}

.news-feed>.panel>.panel-footer>.likes-panel{
    margin-right:10px;
}

.news-feed  .panel-footer{
    height: 55px;
}

.news-feed  .panel-footer>div{
    line-height: 35px;
}

.news-feed  .panel-footer button{
    margin-right:10px;
}

.userHoverPanel{
    width:330px;
    height:105px;
    position:absolute;
    left:100px;
    top: 20px;
}

.news-feed .panel .panel-heading .userHoverPanel img{
    width: 75px;
    height: 75px;
    float:left;
}

.news-feed .panel .panel-heading .userHoverPanel h5{
    font-size: 18px;
    float:left;
    margin-top:5px;
    margin-right:5px;
}

.news-feed .panel .panel-heading .userHoverPanel span{
    line-height: 24px;
}

.userHoverPanelInfo{
    width:190px;
}

.news-feed .comments-panel{
    margin-top:20px;
    margin-right:10px;
}

.news-feed .comments-panel .panel-heading{
    height:60px;
}

.news-feed .comments-panel .panel-heading img{
    width:100px;
    height:100px;
    margin-right:20px;
    margin-bottom:20px;
}

.news-feed .comments-panel .panel-heading h4{
    float: left;
    margin-right:20px;
}

.news-feed .comments-panel .panel-heading p{
    line-height: 40px;
}

.news-feed .more-btn{
    margin-bottom: 10px;
}

.editPostModal, .addCommentModal, .editCommentModal{
    width: 500px;
    margin: 150px auto;
}

.editPostModal textarea, .addCommentModal .modal-body textarea, .editCommentModal .modal-body textarea{
    margin: 0 10px;
    width: 480px;
    max-width: 480px;
    height: 150px;
    max-height: 250px;
}

.addCommentModal h5{
    float: left;
}

.addCommentModal .modal-body div p{
    line-height: 35px;
}

.addCommentModal .modal-body .panel{
    margin-left:10px;
    margin-right:10px;
}