#welcome-header{
    margin: 20px auto;
    text-align: center;
}

.radio label{
    margin-right: 10px;
}

.form-horizontal .form-group label{
    text-align: left;
}

ul.navbar-nav>li>a>span{
    margin-right: 3px;
}

.section-header{
    padding-left: 50px;
}