#welcome-header{
    margin: 20px auto;
    text-align: center;
}

.navbar-header img{
    margin:5px 10px 5px 0;
    max-width: 40px;
    max-height:40px;
    float: left;
}

.radio label{
    margin-right: 10px;
}

.form-horizontal .form-group label{
    text-align: left;
}

ul.navbar-nav>li>a>span{
    margin-right: 3px;
}

.section-header{
    padding-left: 50px;
}

.upload-picture p{
    text-align: center;
}

.upload-picture img{
    margin: 0 auto;
    display: inherit;
}

.upload-picture input{
    margin: 0 auto;
}

.upload-cover p{
    line-height: 36px;
}

.modal {
    display: block;
}

.modal img {
    width: 75px;
}

.modal-dialog{
    width:300px;
    margin-left: 25%;
}

.modal-body span{
    font-size: 18px;
}

.modal-footer p{
    text-align: center;
    margin:0;
}

.modal-content>.modal-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}

.friends-sidebar{
    padding: 10px 25px;
}

.friends-sidebar>p{
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.friends-sidebar img{
    width: 100%;
    max-height: 90px;
}

.friends-sidebar>div>div>a>p{
    font-size: 18px;
    text-align: center;
    color: black;
}

.friends img{
    width: 100px;
    max-height: 100px;
}

.friends p{
    line-height: 70px;
    color: black;
    font-size: 20px;
    text-align: right;
    padding-right: 30px;
}

.friend-filter p{
    height: 34px;
    line-height: 34px;
    padding-right:0;
}