<userheader></userheader>
<section>
    <header class="section-header">
        <h2>Change Password</h2>
    </header>
    <div class="container">
        <div class="col-sm-offset-3 col-md-6">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputOldPassword" class="col-lg-4 control-label">Old Password</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="inputOldPassword" placeholder="Old Password" type="password" ng-model="user.oldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNewPassword" class="col-lg-4 control-label">New Password</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="inputNewPassword" placeholder="New Password" type="password" ng-model="user.newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword" class="col-lg-4 control-label">Confirm Password</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" type="password" ng-model="user.confirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary" ng-click="changePass(user)">Save Changes</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>