<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="" ng-src="{{user.profileImageData}}" alt="{{user.name}}">
            <a class="navbar-brand" href="#/users/{{user.username}}/">{{user.name}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a href="#/"><span class="glyphicon glyphicon-comment"></span>News Feed <span class="sr-only">(current)</span></a></li>
                <li data-toggle="modal" data-target="#requests"><a href="" ng-click="showRequestsDetail()"><span class="glyphicon glyphicon-user"></span>Requests: {{requestsCount}}</a></li>
                <li ng-class="{ active: isActive('/profile')}"><a href="#/profile"><span class="glyphicon glyphicon-cog"></span>Edit Profile</a></li>
                <li ng-class="{ active: isActive('/profile/password')}"><a href="#/profile/password"><span class="glyphicon glyphicon-edit"></span>Change Password</a></li>
                <li><a href="#/logout"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text">
                </div>
            </form>
            <div friendrequest></div>
        </div>
    </div>
</nav>